@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;

  margin: 0 auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #221f2a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FIXME: This is temporary, please put this on tailwind classes */
th {
  border-bottom: 1px solid rgba(230, 230, 230, 0.4);
  font-weight: 500;
  opacity: 40%;
}

tr:last-child > td {
  border-bottom: 1px solid transparent;
}
